.option_maincont{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.option_genrecont{
    height: 45px;
    border-radius: 45px;
    background-color: rgb(7, 8, 14, 50%);
    margin: 13px;
    margin-left: 75px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
}

.option_genretxt{
    color: white;
    font-size: 22px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.option_sortcont{
    height: 45px;
    border-radius: 45px;
    background-color: rgb(7, 8, 14, 50%);
    margin: 13px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
}

.option_sorttxt{
    color: white;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    user-select: none;
}

.option_addbtn{
    height: 22px;
    width: 22px;;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.option_addbtnimg{
    height: 15px;
    width: 15px;
    transform: rotate( -45deg );
}