.shelf-maincont{
    height: 100vh;
    width: auto;
    margin: 75px;
    margin-top: 0px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap : wrap;
    gap: 50px;
}

.shelf_gamecontbtn{
    height: 209px;
    width: 162px;
    background-color: grey;
    cursor: pointer;
    display: flex;
    position: relative;
    border-radius: 10px;
    border: none;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.2);
}

.shelf_price{
    height: auto;
    width: auto;
    position: absolute;
    right: 20px;
    bottom: 10px;
    padding: 1px 3px;
    background-color: rgb(7, 8, 14, 70%);
    border-radius: 5px;
    font-weight: bolder;
    color: white;
}

.shelf_gamecontbtn:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.2);
  }
  

