.footer-maincont{
    background-color: grey;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-links{
    border: none;
    background-color: grey;
    height: auto;
    font-size: 14px;
}

.footer-links:hover{
   cursor: pointer;
}

.footer-links:active{
    color: white;
    font-weight: bold;
 }