.header-maincont{
    height: 40px;
    display: flex;
}

.header-btns{
    background-color: white;
    flex: 1;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s ease, transform 0.5s ease;
}

.header-btns:hover{
    flex: 3;
    background-color: #007BFF;
    color: white;
    transform: scale(1.05);
}