html{
    background: linear-gradient(
    106deg,
    #1e1d48 0.1%,
    #312840 52.18%,
    #282727 107.09%
  );
}

.header-btnscont{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 170px;
    background-color: rgb(7, 8, 14, 85%);
}

.header-btns{
    background-color: rgb(7, 8, 14, 0%);
    color: white;
    font-size: 26px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.header-btns:hover{
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.8),
    0 0 10px rgba(255, 255, 255, 0.8),
    0 0 12px rgba(255, 255, 255, 0.8);
    font-size: 31px;
}

.header-btns:active{
    text-shadow: none;
}